<!DOCTYPE html>
<html lang="en">
<head>
  <title>Easy Form Fill</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  
  <style>
   *{
      font-family: 'Noto Sans', sans-serif; font-size: 12px; padding-right:70px;
  }
    @media print {
        /*NOT DISPLAY*/
       footer, #navbar, #home,.printPage
        {
        display: none;
        }
        /*DISPLAY*/
        #printable {
            display: block;
        }
    }
      /*@media print {
        html,body {
        display: none; /* This code will hide whole pages */
        /*content:"for example";
        }
        }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      background-color: #1B4F72 ;
      height: 70px;
      color: white;
    }
    footer{
        /* position: fixed; */
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #1B4F72;
        color: white;
        text-align: center;
        height: 100px;
    }
   
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    
    
    /* Set gray background color and 100% height */
    /* .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    } */
    
    /* Set black background color, white text and some padding */
    
    .formfill-h2{
        text-decoration: underline;
        color: white;
    }
    
    .copy,.facebookicon{
        font-size: 15px;
        margin-top: 30px;
    }
    .facebookicon{
        font-size:15px;color:white;
        text-decoration: none;
    }
    .btn-next{
        background-color: #1B4F72 ;
        color: white;
        border-radius: 15px;
        text-decoration: none;
            margin-left: 100px;
    }
    .wireman-btn{
        border: none;
        background: none;
        cursor: pointer;
        color:#1B4F72;
    }
    .banner-image{
        background-image: url("img/enquiry6.jpg");
    }
    .form-span{
        color:  rgb(240, 210, 40);
        text-decoration-color: rgb(240, 210, 40);
        font-weight: bold;
    }
    .home{
        color: rgb(240, 210, 40);
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .loginicon{
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .next-btn{
        width:70% ;
        border-radius: 30px;
        background-color: #1B4F72;;
    }
    a:hover{
        color: rgb(255, 255, 255);
        text-decoration: none;
}
a{
        color: rgb(255, 255, 255);
        text-decoration: none;
}
form { display: block; page-break-after: always; }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    .city-table td{
        border: none;
    }
  </style>
</head>
<body oncontextmenu="return false;">
<section  class="navbar-section margin-bottom:20px" id="navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="col-sm-2" ><a class="home" href="/home">Home</a></div>
        <div class="col-sm-8" >
                <h3 class="text-center ">EASY<span class="font-weight-bold form-span">FORMFILL</span> </h3>
            
        </div>
       {{#if user}}
        <div class="col-sm-2"> 
            <div class="dropdown" style="  height: 59px;">
                    <button type="button" class="btn" data-toggle="dropdown">
                  <p style=" color:white"><i class="fa fa-fw fa-user"></i> {{user.uname}}</p>
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
        {{else}}
             <div class="col-sm-2 loginicon" ><a href="/login"><i class="fa fa-fw fa-user"></i> Login</a></div>
        {{/if}}</div>
        
      </nav>
</section>
<br>
<br>
<div class="container" id="home">
    <div class="row text-center">
        <div class="col-sm"><a  href="/wireman-exam"class="btn btn-primary btn-large wireman-btn" > वायरमॅन परीक्षा</a></div>
        <div class="col-sm"><a  href="/wireman-suit-exam"class="btn btn-primary btn-large wireman-btn "> वायरमॅन सूट परीक्षा</a></div>
        <div class="col-sm"><a  href="/supervisor-exam"class="btn btn-primary btn-large wireman-btn"> सुपरवाईझर परीक्षा</a></div>
        <div class="col-sm"><a  href="/supervisor-suit-exam"class="btn btn-primary btn-large wireman-btn"> सुपरवाईझर सूट परीक्षा</a></div>
        <div class="col-sm"><a  href="/wireman-supervisor-reexam"class="btn btn-primary btn-large wireman-btn">  वायरमॅन/सुपरवाईझर री-एक्साम</a></div>
        <div class="col-sm"><a  href="/new-contractor-licence"class="btn btn-primary btn-large wireman-btn"> नीव कॉन्ट्रॅक्टर लायसन्स</a></div>
        <div class="col-sm"><a  href="/contractor-licence-renewal"class="btn btn-primary btn-large wireman-btn">कॉन्ट्रॅक्टर लायसन्स रिन्यूअल</a></div>
    </div>
</div>

<br>
<br>

<div class="container" style="width: 8%;">
    <!-- WIREMAN INDEX -->
        <form class="form-horizontal" method="POST" role="form" id="index">
            <!-- <p class="text-center form-horizontal">विद्दुत तारतंत्री परीक्षेचे अर्ज <br> माहितीसाठी व मान्यतेसाठी सादर </p> -->
            <p class="text-center form-horizontal">विद्दुत तारतंत्री/पर्यवेक्षक परीक्षेच्या पुनःप्रवेश साठीचा  अर्ज<br> माहितीसाठी व मान्यतेसाठी सादर </p>
            <br>
            <p style="text-indent: 5em; ">श्री./श्रीमती {{user.uname}}   यांना विद्दुत तारतंत्री परीक्षेकरिता प्रवेशासाठीचा   विहित नमुन्यात अर्ज सादर केलेला आहे .</p>
            <div class="container">
            <br>          
            <table class="table table-bordered"  style="width:75%">
                <thead class="text-center">
                    <tr>
                        <th>क्र.</th>
                        <th>आवश्यक असणारी माहिती</th>
                        <th>शेरा</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr>
                        <td>१ </td>
                        <td>नमुना "डी" परिपूर्ण  (टंकलिखित ) भरलेला तसेच छायाचित्र साक्षांकित करणे . (नोटिफिकेतील पान क्र . २०) सोबत नमुना १२ मी सुद्धा सादर करणे  </td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                    <tr>
                      <td>२</td>	
                        <td>अर्जासोबत पासपोर्ट आकाराचे तीन अलीकडील काळातील फोटो जोडणे. </td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                    <tr>
                        <td>३</td>
                        <td>आवश्यक शुल्क भरलेले आहे. </td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                     <tr>
                         <td>४</td>
                        <td> मागील परीक्षेच्या प्रवेशपत्राची स्वयं साक्षांकित प्रत </td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                     <tr>
                       <td>५</td>
                        <td> मागील तीन वर्षात परीक्षेस बसणारी उमेदवार पात्र तीन वर्ष पूर्ण झाले असल्यास नव्याने अर्ज करणे . </td>
                        <td>जोडले आहे/नाही</td>
                    </tr><tr>
                        <td>६</td>
                        <td>राहण्याचा पत्ता व जन्मतारखेचा साक्षांकित दाखला जोडला आहे.</td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                     <tr>
                        <td>७</td>
                        <td>महाराष्ट्र अधिवास प्रमाणपत्र (डोमिसाईल)</td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                    <tr>
                        <td>८</td>
                        <td>स्वतःचा नांव , पत्ता व मोबाइल नं . असलेले पोस्टल स्टॅम्प लावलेले ३लिफाफे . </td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                     
                    </tbody>
                </table>
            </div>
           <br>

           <div class="form-row align-items-center">
               <table class="table text-center city-table">
                
                    <tbody>
                        <tr>
                            <td><p >सहाय्यक विद्दुत निरीक्षक <br>निरीक्षण विभाग, {{user.city1}}</p> </td>
                            <td></td>
                            <td><p>विद्दुत निरीक्षक <br>निरीक्षण विभाग, {{user.city2}}</p></td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td><p>सहा. अधीक्षक अभियंता <br> {{user.city2}} प्रादेशिक विद्युत  मंडळ ,{{user.city3}} </p></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

              </div>

            <br>
            <br>
             {{!-- <div class="col-md-12 text-center">
               <button  type="submit"class="btn btn-lg btn-primary printPage next-btn" >Next</button>
            </div> --}}
    </form>
</div>

  
<div class="container" style="width: 100%;" >
    <!-- WIREMAN LETTER -->
    <form class="form-horizontal" method="POST" role="form" id="letter">
       <div class="container">
           <div class="row content">
                    <table class="table text-center city-table">
                
                        <tbody>
                            <tr>
                                <td> </td>
                                <td></td>
                                <td class="text-center" style="margin-left: 100px;"> 
                    <p style="text-indent: 15em; ">श्री./श्रीमती: "{{user.uname}} </p>
                
                    <p style="text-indent: 15em; ">पत्ता: {{user.uaddress}}</p>
                    <p style="text-indent: 15em; ">दिनांक: {{user.date}}</p></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            <p>प्रति,</p>
            <p style="text-indent: 5em; ">मा. विद्युत निरीक्षक,</p>
            <p style="text-indent: 5em; ">विद्युत निरीक्षण विभाग</p>
            <p style="text-indent: 5em; "> उद्योग, ऊर्जा व कामगार खाते</p>
            <p  style="text-indent: 5em; ">{{user.office_city}}</p>
            <br>
            <p style="text-indent: 10em; " >विषय : विद्युत तारतंत्री/पर्यवेक्षक परीक्षा/सूट  अर्ज सादर करणे बाबत</p>
            <br>
            <p>महोदय,</p>
            <p style="text-indent: 5em;  "  >वरील विषयास अनुसरून मी माझा विद्युत पर्यवेक्षक/तारतंत्री परीक्षा/सूट  साठी विहित नमुना अर्ज आवश्यक कागदपत्रासह पुढील योग्य <br> त्या कार्यवाहीसाठी सविनय सादर करीत
                 . </p>					
	         
              <div class="row content">
                    <table class="table text-center city-table">
                
                        <tbody>
                            <tr>
                                <td> </td>
                                <td></td>
                                <td class="text-center" style="margin-left: 100px;"><p  style="margin-left:30px ;">आपला विश्वासू 
                                    <br> <br> <br>
                                      श्री./श्रीमती: {{user.uname}} <br>
                                        मोबाईल क्र.: {{user.mobile}} </p></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            
            <br>

        </div>
        <br>
        <br>
        {{!-- <div class="col-md-12 text-center">
            <button  type="submit"class="btn btn-lg btn-primary printPage next-btn" >Next</button>
        </div> --}}
       
</form>
</div>

<div class="container" style="width: 100%;">
    <!-- WIREMAN NAMUNA D -->
    <form class="form-horizontal" method="post" role="form" id="namuna-c">
       <div class="container">
             <p style="text-indent:10em">महाराष्ट्र शासन राजपत्र असाधारण भाग चार अ जानेवारी ३ २०१७/पौष १३ शके १९३८      &nbsp; 	 &nbsp; 	 &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 	२०</p>
           
           <br>
           <p style="text-indent:25em">"नमुना-डी"</p>
           <p style="text-indent:25em">(नियम १६ पहा )</p>
           <tr>
                                 <td></td>
                                 <td>
                                     <div class="row content" style="margin-left:45rem">
                                        <div class="col-sm"></div>
                                        <div class="col-sm">
                                           <div style="height:130px; width:130px; border:1px solid black" >

                                            </div>
                                             <div style="height:50px; width:130px; border:1px solid black" >
                                                        
                                            </div> 
                                            
                                        </div>
                                    </div>
                                </td>
                             </tr>
                             <br>
         
            <div class="row content">
               <p style="text-indent:18em">विद्युत पर्यवेक्षकाच्या किंवा तारतंत्रीच्या पुनः प्रवेशासाठी अर्ज  </p><p style="text-indent:20em">(मराठीत, इंग्रजीत,  हिंदीत (टंकलिखित) भरावयाचा  आहे) </p>
           
           </div>
           
           <br>
           <br>
           
            <div class="row content">			
                <div class="col-sm">
                    <table class="" style="text-indent: 3em; ">
                        
                        <tr>
                            <td>१. अर्जदाराचे पूर्ण नांव </td>
                            <td><p>:  {{user.uname}}</p></td>
                           </tr>
                          <tr>
                        <tr>
                          <td>पत्ता </td>
                          <td><p>:  {{user.uaddress}} </p></td>
                           
                         </tr>
                         <tr>
                             <td>मोबाईल क्रमांक </td>
                             <td><p>:  {{user.mobile}}</p>
                             </td>
                         </tr>
                         <tr>
                            <td>ई मेल आय डी</td>
                            <td><p>:  {{user.email}}</p></td>
                        </tr>
                        
                        <tr>
                            <td>२. जन्मदिनांक आणि वय
                                <p>          (शाळा सोडल्याच्या दाखल्याची 
                                    	स्वयंसाक्षांकीत प्रत सादर करावी)</p>
                          
                                </ul>
                            </td>
                            <td><p style=""> <p>:  {{user.dob}}   वय   {{user.age}}    वर्ष</p></td>
                        </tr>
                       
                        <tr>
                            <td>३  .  मागील परीक्षा आसन क्रमांक 
                                <ul style="list-style-type:none;">
                                    <li>परीक्षेचे ठिकाण</li>
                                    <li>परीक्षेचा दिनांक</li>
                                </ul>
                            </td>
                            <td>
                               <p style="">:  {{user.seatno}} </p>
                               <p style="">:  {{user.examplace}} </p>
                                <p style="">:  {{user.examdate}}</p>
                        </tr>    
                          
                        <tr>
                            <td>४ . विद्दुत पर्यवेक्षकाच्या / तारतंत्रीच्या प्रवेश परीक्षेसाठी जाहिरातीत विहित
                             </td>
                        
                        </tr>  
                        <tr>
                            <td>केलेले शुल्क</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>चलन क्र  {{user.chalanno}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>चलान भरल्याचा  दिनांक  {{user.chalandate}}</td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td>रक्कम रुपये  {{user.rupee}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>ठिकाण  {{user.chalanplace}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>(मूळ चलन सादर करावे)</td>
                        </tr>
                        
                        <tr>
                            <td>६. विद्दुत पर्यक्षकाचे /तारतंत्रीचे परीक्षा केंद्र : </td>
                            <td><p>:  {{user.examcenter}}</p></td>
                        </tr>  
                        <tr>
                            <td>७. ज्या भाषेत उमेदवारास परीक्षा देण्याची 
                               <p>
                                    इच्छा आहे ति भाषा उमेदवारांना मराठी ./ 
                                     हिंदी /इंग्रजी यापैकी कोणत्याही  
                                    भाषेत परीक्षा देता येईल .
                                
                               </p>
                                 
                              </td>
                              <td> <p>:  {{user.language}}</p></td>
                        </tr>         

                        
                        
                        
                      </table>
                      <p >मी याद्वारे  घोषित करतो कि , मी नमूद केलेला तपशील माझ्या संपूर्ण माहितीप्रमाणे बरोबर आणि खरा आहे.									
                        </p>
                    </div>						

            </div>
            
                    
     </div>
        
           
</form>
<form action="">
    <p style="text-indent:10em">महाराष्ट्र शासन राजपत्र असाधारण भाग चार अ जानेवारी ३ २०१७/पौष १३ शके १९३८      &nbsp; 	 &nbsp; 	 &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 	२१</p>
    <hr width="100%" style="border: 1px dashed rgb(36, 35, 35)">
							
                         
                        <br>
    <p style="text-indent: 5em; "> मी श्री. {{user.uname}} श्री. {{user.fname}} यांचा /यांची 
        मुलगा /मुलगी, <br> वय {{user.age}}  वर्ष ,आधार क्रमांक	{{user.adharno}},  व्यवसाय {{user.occupation}} <br>	
         राहणार: {{user.uaddress}}<br>
        याद्वारे, असे घोषित करते/करतो कि, मी स्वयंसाक्षिकीत केलेल्या प्रति या मूळ कागदपत्रांच्या सत्यप्रती आहेत. मला वस्तुस्थितीची पूर्ण <br> जाणीव आहे कि, जर प्रति खोट्या असल्याचे आढळून आले तर, मी भारतीय दंड संहितेअन्वये आणि/किंवा त्यासाठी लागू असलेल्या इतर कोणत्याही कायद्यान्वये  <br>  खटला चालविण्यासाठी आणि शिक्षेसाठी पात्र असेल.ाठी पात्र असेल.
         
        <br>
        <div class="row content">
        <div class="col-sm">ठिकाण : {{user.place}} <br>
             दिनांक : {{user.date}}
        </div>
        <div class="row content">
                    <table class="table text-center city-table">
                
                        <tbody>
                            <tr>
                                <td> </td>
                                <td></td>
                                <td class="text-center" style="margin-left: 100px;"><p  style="margin-left:30px ;">अर्जदाराची सही
                                     </p></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
        <br>
        <td><p style="text-indent:5em">टीप :</p>

            <ul style="list-style-type:none;">
                <li>१. मागील परीक्षेच्या प्रवेशपत्राची स्वयंसाक्षांकीत प्रत.</li>
                <li>२.  छायाचित्र असलेल्या ओळखपत्रांच्या (पारपत्र / पासपोर्ट /पॅनकार्ड / आधारकार्ड) स्वयंसाक्षांकीत प्रति . </li>
                <li>३. अर्जासोबत अर्जदाराच्या अलीकडच्या पासपोर्ट आकाराच्या छायाचित्राच्या (त्या छायाचित्राच्या मागील बाजूस नांव लिहिलेल्या) तीन प्रति . </li>
                <li>४. परीक्षेसाठी प्रवेश घेण्याच्या उद्देशाने एखाद्या व्यक्तीने खोटी निवेदने केल्यास त्याच्यावर खटला 
                    चालविण्यासाठी तो पात्र ठरेल .</li>
                <li>५. खाणकाम पर्यवेक्षाच्या परीक्षेला बसणाऱ्या उमेदवाराने अर्जाच्या नमुन्यात सर्वात वरच्या भागात आणि तळाला पर्यवेक्षक खाणकाम असे नमूद करावे .</li>
                <li>६. मागील तीन वर्षात परीक्षेत बसलेला उमेदवार पुन्हा बसण्यास पात्र असणार नाही . त्याला पुन्हा नव्याने अर्ज करावा लागेल .</li>
                    
                <li>७. अपूर्ण अर्ज नाकारण्यात येतील .  </li>
            </ul>
        </td>

</form>
</div>

<div class="container" style="width: 100%;">
    <!-- WIREMAN NANUNA-12M -->
        <form class="form-horizontal" method="post" role="form" id="namuna-12m">
           <div class="container">
                <tr>
                                 <td></td>
                                 <td>
                                     <div class="row content" style="margin-left:45rem">
                                        <div class="col-sm"></div>
                                        <div class="col-sm">
                                            <div style="height:130px; width:130px; border:1px solid black" >

                                            </div>
                                            
                                        </div>
                                    </div>
                                </td>
                             </tr>
                             <br>
                <div class="row content">
                    <div class="col-sm">
                        <table class="" >
                             <tr>
                                <td></td>
                                <td>(विशेष - परीक्षण १२ म)</td>
                            </tr>
                            <tr>
                                <td>अनुज्ञापक मंडळाने दिलेल्या प्रमाणपत्रासंबंधीचा तपशील</td>
                                <td>महाराष्ट्र तारतंत्री / पर्यवेक्षक</td>
                            </tr>
                            <tr>
                                <td>(अभिलेखार्थ)</td>
                                <td>प्रमाणपत्राचा दिनांक: </p></td>
                            </tr>
                            <tr>
                                <td>१. उमेदवाराचे नांव व आडनाव :</td>
                                <td>श्री./श्रीमती: {{user.uname}}</td>
                               </tr>
                              <tr>
                            <tr>
                              <td>२. उमेदवाराच्या वडिलांचे / पतीचे संपूर्ण नांव :</td>
                              <td>श्री.: {{user.fname}}</td>
                               
                             </tr>
                             <tr>
                                 <td>३. उमेदवाराचा कायमचा पत्ता</td>
                                 <td>:  <p>{{user.uaddress}}</p>
                                 </td>
                             </tr>
                              <tr>
                                 <td>मोबाईल क्रमांक </td>
                                 <td>:  {{user.mobile}}
                                 </td>
                             </tr>
                              <tr>
                                 <td>ई मेल आय डी  </td>
                                 <td>:  {{user.email}}
                                 </td>
                             </tr>
                             
                                <td>४. उमेदवारास कोणते प्रमाणपत्र पाहिजे :</td>
                                <td>पर्यवेक्षक</td>
                            </tr>
                            <tr>
                                <td>५. उमेदवारास परीक्षेत प्रवेश दिला असल्यास -
                                    <ul style="list-style-type:none;">
                                        <li>(अ ) परीक्षेस परवानगी दिली त्यावेळी </li>
                                        <li> असलेल्या कामाच्या अनुभवाचा कालावधी व ठिकाण</li>
                                        <li>(ब ) परीक्षा आसन क्रमांक</li>
                                        <li>(क ) परीक्षेचा दिनांक</li>
                                        <li>(ड ) परीक्षेचे ठिकाण</li>
                                        <li>(ई ) निकाल</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul style="list-style-type:none;">

                                        <li>{{user.companyname}}</li>
                                        <li>{{user.period}}</li>
                                       
                                        
                                
                                        <li>{{user.seatno}}</li>
                                        <li>{{user.date}}</li>
                                        <li>{{user.examplace}}</li>
                                        <li>-----------------</li>
                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>६. उमेदवारास सूट दिली असल्यास -	
                                    <ul style="list-style-type:none;">
                                        <li>(अ ) उमेदवार कोणती परीक्षा उत्तीर्ण झाला आहे </li>
                                        <li>(ब )प्रत्यक्ष कामाचा अनुभव, कालावधी व ठिकाण	</li>
                                    </ul>
                                <td><ul style="list-style-type:none;">
                                    <li>{{user.examname}}</li>
                                      <li>________________________________</li>
                                    
                                </ul></td>
                            </tr>
                            <tr>
                                <td>७ . उमेदवाराची इतर माहिती -	
                                    <ul style="list-style-type:none;">
                                        <li>(अ ) जन्म दिनांक व जन्म ठिकाण</li>
                                        <li>(ब )उंची</li>
                                        <li>(क ) वर्ण</li>
                                        <li>(ड )  शरीरावरील ओळख चिन्हे</li>
                                    </ul>
                                <td>
                                    <ul style="list-style-type:none;">
                                        <li>{{user.dob}}, &nbsp;&nbsp;{{user.dobplace}}</li>
                                        <li>{{user.height}}</li>
                                        <li>{{user.color}}</li>
                                        <li>{{user.symbol}}</li>   
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><p>मी , याद्वारे असे प्रमाणित करतो कि , वर लिहिलेला तपशील <br> माझ्या संपूर्ण माहितीप्रमाणे व विश्वासाप्रमाणे बरोबर आणि <br> खरा आहे</p></td>
                                <td><p>मी वरील व्यक्तीस ओळखतो, सबब सोबतच्या फोटोवर मी सही केली आहे. <br> तसेच उमेदवाराने त्याची सही माझ्यासमोर केली आहे.   </p></td>
                            </tr>
                          </table>
                         <p>मी , याद्वारे असे प्रमाणित करतो कि , वर लिहिलेला तपशील माझ्या संपूर्ण माहितीप्रमाणे व विश्वासाप्रमाणे बरोबर आणि खरा आहे</p>
                    </div>
                    
         <table style="width:100%; text-indent: 5em;">
               
               <tr>
                   <td>उमेदवाराची सही</td>
                   
                   <td>परीक्षकाची सही </td>
                   
                   <td><p> विशेष दंडाधिकारी अगर राजपत्रित अधिकाऱ्याची सही</p></td>
                   
               </tr>
               <tr>
                   <td></td>
                   
                   <td> </td>
                   
                   <td>पदनाम</td>
                   
               </tr>
               <br>
               <br>
               <tr><td>	सचिव</td>
                    <td>अध्यक्ष</td>
                    <td>रबरी ठसा</td>
            </tr>
               <tr>
                   <td>अनुज्ञापक मंडळ,मुंबई</td>
                   <td>अनुज्ञापक मंडळ,मुंबई</td>
                   <td>दिनांक:</td>
                 
                </tr>
                
           </table>
                
            </div>
            <br>
            <br>

            <hr style="border-top:1px dotted #000;">
            <p>प्रमाणपत्र व परवाना उमेदवारास डाकपोच देय पावतीने ह्या कार्यालयाच्या पत्र क्र . . . . . . . . . .दिनांक. . . . . . . . . .
                न्वये पाठविला आहे / प्रत्यक्ष हस्तांतरित केला आहे <br> व त्याबद्दल त्याची सही घेतली आहे</p>
            <br>
            <br>    
            {{!-- <div class="col-md-12 text-center">
                <a href="/wireman-namunae"> <button type="submit" class="btn btn-lg btn-primary printPage printPage next-btn" >Next</button></a>
            </div> --}}
               
    </form>
</div>
<br>
<br>

{{!-- PRAPATRA B --}}
<div class="container" style="width: 100%;">
    <form class="form-horizontal" method="POST" role="form" id="prapatra-b">
        <p style="text-indent:18em">शासन निर्णय क्रमांक प्रसुधा १६१४/३४५/प्र . क्र </p>
          <br>
          <hr style="border-top:1px dotted #000;">
            <br>
             <p style="text-indent:25em">प्रपत्र - ब</p>
           <p style="text-indent:22em">स्वयं - सांक्षांकनासाठी स्वय घोषणापत्र</p>
        <br>
        <div class="row content "style="margin-left:45rem" >
                    <div class="col-sm"></div>
                    <div class="col-sm">
                         <div style="height:130px; width:130px; border:1px solid black" >

                        </div>
                        
                    </div>
                </div>
           <br>
         

       <div class="container">
            
             <p> मी श्री . {{user.uname}},    श्री .{{user.fname}}  यांचा /यांची  मुलगा /मुलगी , <br> वय  {{user.age}} वर्ष ,  आधार क्रमांक {{user.adharno}}, व्यवसाय {{user.occupation}} <br>	राहणार :	{{user.uaddress}}	<br>	याद्वारे घोषित करतो/करते कि, मी स्वयं साक्षांकित केलेल्या प्रति या मूळ कागदपत्रांच्याच सत्य प्रति <br> आहेत . त्या खोट्या असल्याचे आढळून आल्यास, भारतीय दंड संहिता आणि / किंवा संबंधित <br> कायद्यानुसार माझ्यावर खटला भरला जाईल व त्यानुसार मी शिक्षेस पात्र राहीन याची <br> मला पूर्ण जाणीव आहे.</p>
                <br>
            <div class="row content">
                <table>
                    <tr>
                        <td style=" ">ठिकाण: {{user.place}}</td>
                        <td style=" text-indent: 15em;"> अर्जदाराची स्वाक्षरी</td>
                    </tr>
                    <tr>
                        <td><td style=" text-indent: 15em;"> अर्जदाराची नाव: {{user.uname}} 		
                        </td></td>
                    </tr>
                    <tr>
                        <td style=" ">दिनांक: {{user.date}}</td>
                        <td></td>
                    </tr>
                     
                    <tr>
                        <td></td>
                        <td style=" text-indent: 15em;">मोबाईल क्र.: {{user.mobile}}</td>
                    </tr>
                   
                </table>
        </div>
        <br>
        <br>
</form>
</div>
<br>
<form class="form-horizontal" method="POST" role="form" id="photo-format">
       <div class="container">
             <p style="text-indent:25em">जोडपत्र </p>
          <p style="text-indent:22em"> विद्दुत पर्यवेक्षक / तारतंत्री परवाना करिोषणापत्र)</p>
           
          
            <div class="row content">
                <div class="col-sm"><p style="">नांव: {{user.uname}}</p>
                    <p style=""> आवक क्रमांक/दिनांक:
                        <br><br>
                   <p style="">जन्म दिनांक: {{user.dob}}
                   <p style="">शैक्षणिक अर्हता: {{user.education}}
                  
                <div class="col-sm">
                </div>
            </div>
            <br>
            <p>सही</p>
             <div class="row content" style="margin-left:45rem" >
                    <div class="col-sm">
                         <div style="height:150px; width:150px; border:1px solid black" >

                        </div>
                            
                    </div>
                    <div class="col-sm">
                         <div style="height:150px; width:150px; " >

                        </div>
                            
                    </div>
                    <br>
                    <div class="col-sm">
                         <div style="height:150px; width:150px; border:1px solid black" >

                        </div>
                        
                    </div>
                </div>
           <br>
           <br>
           <br>
          
            </div>
                
            </div>
            <br><br>
            <p>कार्यालयीन माहिती साठी फक्त</p>
           <p>तारतंत्री/पर्यवेक्षक परवाना क्र.</p>  
            <p>दिनांक :</p>                									
        </div>
        <br>
        <br>
        
</form>

<br>



</body>
</html>
