<!DOCTYPE html>
<html lang="en">
<head>
  <title>Easy Form Fill</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="/transliteration-input.bundle.js"></script>
  <style>
      @media print {
        /*NOT DISPLAY*/
       footer, #navbar, #home,.printPage
        {
        display: none;
        }
        /*DISPLAY*/
        #printable {
            display: block;
        }
    }
    .navbar {
      background-color: #1B4F72 ;
      height: 70px;
      color: white;
    }
    footer{
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #1B4F72;
        color: white;
        text-align: center;
        height: 100px;
    }
   
    
    .formfill-h2{
        text-decoration: underline;
        color: white;
    }
    
    .copy,.facebookicon{
        font-size: 15px;
        margin-top: 30px;
    }
    .facebookicon{
        font-size:15px;color:white;
        text-decoration: none;
    }
    .btn-next{
        background-color: #1B4F72 ;
        color: white;
        border-radius: 15px;
        text-decoration: none;
            margin-left: 100px;
    }
   .wireman-btn{
        border: 1px solid #888888;
        background: none;
        cursor: pointer;
        color:#1B4F72;
        box-shadow: 0px 5px 8px #888888;
        height: 85px;
    }
    .banner-image{
        background-image: url("img/enquiry6.jpg");
    }
    .form-span{
        color:  rgb(240, 210, 40);
        text-decoration-color: rgb(240, 210, 40);
        font-weight: bold;
    }
    .home{
        color: rgb(240, 210, 40);
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .loginicon{
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .next-btn{
        width:70% ;
        border-radius: 30px;
        background-color: #1B4F72;;
    }
    a:hover{
        color: rgb(255, 255, 255);
        text-decoration: none;
} @media print {
        html,body {
        display: none; /* This code will hide whole pages */
        content:"for example";
        }
        }
a{
        color: rgb(255, 255, 255);
        text-decoration: none;
}
   @media screen and (max-width: 575px) {
       .wireman-btn{
          margin-bottom: 10px;
           height: 35px;
            width: 285px;
      }  
     }
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .wireman-btn{
          margin-bottom: 10px;
      }
      .row.content {height:auto;} 
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width:768px) and (max-width:1198px){
    .wireman-btn{
          margin-bottom: 10px;
           height: 125px;
      }
}

@media screen and (min-width: 1000px) and  (max-width: 1199)  {
    .wireman-btn{
          margin-bottom: 10px;
           height: 125px;
      }
}@media print {
        html,body {
        display: none; /* This code will hide whole pages */
        content:"for example";
        }
        }
  </style>
</head>
<body oncontextmenu="return false;">
<section  class="navbar-section margin-bottom:20px" id="navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="col-sm-2" ><a class="home" href="/home">Home</a></div>
        <div class="col-sm-8" >
                <h3 class="text-center ">EASY<span class="font-weight-bold form-span">FORMFILL</span> </h3>
            
        </div>
        {{#if user}}
        <div class="col-sm-2"> 
            <div class="dropdown" style="  height: 59px;">
                    <button type="button" class="btn" data-toggle="dropdown">
                  <p style=" color:white"><i class="fa fa-fw fa-user"></i> {{user.uname}}</p>
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
        {{else}}
             <div class="col-sm-2 loginicon" ><a href="/login"><i class="fa fa-fw fa-user"></i> Login</a></div>
        {{/if}}</div>
        
      </nav>
</section>
<br>
<br>
<div class="container" id="home">
    <div class="row text-center">
    <div class="col-sm"><a  href="/wireman-exam"class="btn btn-primary btn-large wireman-btn" > वायरमन परीक्षा फॉर्म</a></div>
        <div class="col-sm"><a  href="/wireman-suit-exam"class="btn btn-primary btn-large wireman-btn ">वायरमन परीक्षा सूट फॉर्म</a></div>
        <div class="col-sm"><a  href="/supervisor-exam"class="btn btn-primary btn-large wireman-btn"> सुपरवाईझर परीक्षा  फॉर्म</a></div>
        <div class="col-sm"><a  href="/supervisor-suit-exam"class="btn btn-primary btn-large wireman-btn"> सुपरवाईझर परीक्षा सूट फॉर्म</a></div>
        {{!-- <div class="col-sm"><a  href="/"class="btn btn-primary btn-large wireman-btn"> वायरमॅन परीक्षा</a></div> --}}
        
        <div class="col-sm"><a  href="/wireman-supervisor-reexam"class="btn btn-primary btn-large wireman-btn"> वायरमॅन/सुपरवाईझर पुनः परीक्षा फॉर्म</a></div>
        <div class="col-sm"><a  href="/new-contractor-licence"class="btn btn-primary btn-large active wireman-btn">नवीन विद्युत ठेकेदार लायसन्स फॉर्म</a></div>
        <div class="col-sm"><a  href="/contractor-licence-renewal"class="btn btn-primary btn-large wireman-btn">विद्युत ठेकेदार लायसन्स नूतनीकरण फॉर्म</a></div>  </div>
</div>

<br>
<br>

<div class="container" style="width: 100%;">
    <form class="form-horizontal" method="POST" role="form" id="letter" autocomplete="off">
        <div class="container">
                <div class="row content">
                    <div class="col-sm"></div>
                    
                    <div class="col-sm">
                        <p style="">श्री./श्रीमती:  {{user.uname}}</p>
                    
                        <p style="">पत्ता: {{user.uaddress}}</p>
                        <p style="">पत्ता: {{user.mobile}}</p>
                        
                        <p>दिनांक : -<input  type="text" class="textarea1"  placeholder="dd/mm/yy" name="date" data-date-format="dd/mm/yy" required/></p>
                    </div>
                </div>
                <p>प्रति,</p>
                <p style="text-indent: 5em; ">विद्युत निरीक्षक,</p>
                <p style="text-indent: 5em; ">विद्युत निरीक्षण विभाग</p>
                <p style="text-indent: 5em; "> उद्योग, ऊर्जा व कामगार खाते</p>
                <p  style="text-indent: 5em; "><input class="textarea1" type="text" name="office_city" id="textarea1" placeholder="________________________________" style="border: none;"required/></p>
                <br>
                <p class="text-center" >विषय : नवीन विद्युत ठेकेदार अनुज्ञप्ती मिळणेबाबत</p>
                <br>
                <p>मा.महोदय,</p>
                <p style="text-indent: 5em; ">	मी अर्जदार श्री .{{user.uname}}      मेसर्स   {{user.firmName}} <br>  या अर्ज प्रमाणे आपणास विनंती म्हणून मी हा अर्ज करीत आहे. नवीन अनुज्ञप्ती करीत लागणारी 
                    <br>
                 आवश्यक कागदपत्रे मी खालील प्रमाणे जोडली आहेत.  	
                <br>१. मूळ ठेकेदार परवाना<br>
                    २. मूळ पर्यवेक्षक परवाना	<br>				
                    ३. मूळ कामगार नोंद वही (मस्टर )		<br>			
                    ४. मूळ चलन				<br>	
                    ५. नमुना एस  मेगर परीक्षण	<br>				
                    ६. नमुना टी अर्थ टेस्टर परीक्षण		<br>			
                    ७.  नमुना यु प्रमाणपत्र व परवाना पडताळणी अहवाल	<br>				
                    ८. मालक व पर्यवेक्षक प्रतिज्ञापत्र					<br>
                    ९. तसेच आवश्यक कागद पत्रांच्या झेरॉक्स स्वयंसाक्षांकीत		<br>
                <br>	
                     वरील आवश्यक कागदपत्रे जोडली असून माझा परवाना नूतनीकरण मिळावा म्हणून 					
मी हा अर्ज करीत आहे .	</p>				

                <div class="row content">
                    <div class="col-sm"></div>
                    <div class="col-sm"><p>आपला विश्वासू	<br><p style="">श्री./श्रीमती: {{user.uname}} <br> {{user.firmName}}</p>
                      
                        </p>
                    </div>
                </div> 
                <br>

            </div>
            <br>
            <br>
            <div class="col-md-12 text-center">
                <a href="/wireman-namuna12m"> <button  type="submit"class="btn btn-lg btn-primary printPage next-btn" >Next</button></a>
                {{!-- <button  type="submit"class="btn btn-lg btn-primary printPage next-btn" >Next</button> --}}
        </div>
           
    </form>
</div>

  <br>
  <br>
<footer class="container-fluid text-center">
    <div class="container-fluid text-center">    
        <div class="row content">
           <div class="col-sm-8 copy"><p>&#169; 2021 by Easyformfill. Proudly created with <a style="color: rgb(240, 210, 40);" href="https://www.logyana.com/">Logyana Solutions Pvt. Ltd </a></p>
                
            </div>
            <div class="col-sm-4 facebookicon">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
            </div>
        </div>
    </div>
  
</footer>
<script type="text/javascript">
        let textarea1 = document.querySelectorAll(".textarea1");
        
        textarea1.forEach(function(userItem){
            enableTransliteration(userItem, "mr");

        })
</script>

</body>
</html>
