<!DOCTYPE html>
<html lang="en">
<head>
  <title>Easy Form Fill</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --}}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script type="text/javascript" src="/transliteration-input.bundle.js"></script>
  <style>
    @media print {
        /*NOT DISPLAY*/
       footer, #navbar, #home,.printPage
        {
        display: none;
        }
        /*DISPLAY*/
        #printable {
            display: block;
        }
    }
      /*@media print {
        html,body {
        display: none; /* This code will hide whole pages */
        /*content:"for example";
        }
        }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      background-color: #1B4F72 ;
      height: 70px;
      color: white;
    }
    footer{
        /* position: fixed; */
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #1B4F72;
        color: white;
        text-align: center;
        height: 100px;
    }
   
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    
    
    /* Set gray background color and 100% height */
    /* .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    } */
    
    /* Set black background color, white text and some padding */
    
    .formfill-h2{
        text-decoration: underline;
        color: white;
    }
    
    .copy,.facebookicon{
        font-size: 15px;
        margin-top: 30px;
    }
    .facebookicon{
        font-size:15px;color:white;
        text-decoration: none;
    }
    .btn-next{
        background-color: #1B4F72 ;
        color: white;
        border-radius: 15px;
        text-decoration: none;
            margin-left: 100px;
    }
    .wireman-btn{
        border: 1px solid #888888;
        background: none;
        cursor: pointer;
        color:#1B4F72;
        box-shadow: 0px 5px 8px #888888;
        height: 85px;
    }
    .banner-image{
        background-image: url("img/enquiry6.jpg");
    }
    .form-span{
        color:  rgb(240, 210, 40);
        text-decoration-color: rgb(240, 210, 40);
        font-weight: bold;
    }
    .home{
        color: rgb(240, 210, 40);
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .loginicon{
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .next-btn{
        width:70% ;
        border-radius: 30px;
        background-color: #1B4F72;;
    }
    a:hover{
        color: rgb(255, 255, 255);
        text-decoration: none;
}
a{
        color: rgb(255, 255, 255);
        text-decoration: none;
}
    /* On small screens, set height to 'auto' for sidenav and grid */
        /* On small screens, set height to 'auto' for sidenav and grid */
     @media screen and (max-width: 575px) {
       .wireman-btn{
          margin-bottom: 10px;
           height: 35px;
            width: 285px;
      }  
     }
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .wireman-btn{
          margin-bottom: 10px;
      }
      .row.content {height:auto;} 
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width:768px) and (max-width:1198px){
    .wireman-btn{
          margin-bottom: 10px;
           height: 125px;
      }
}

@media screen and (min-width: 1000px) and  (max-width: 1199)  {
    .wireman-btn{
          margin-bottom: 10px;
           height: 125px;
      }
}@media print {
        html,body {
        display: none; /* This code will hide whole pages */
        content:"for example";
        }
        }
  </style>
</head>
<body oncontextmenu="return false;" >
<section  class="navbar-section margin-bottom:20px" id="navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="col-sm-2" ><a class="home" href="/home">Home</a></div>
        <div class="col-sm-8" >
                <h3 class="text-center ">EASY<span class="font-weight-bold form-span">FORMFILL</span> </h3>
            
        </div>
       {{#if user}}
        <div class="col-sm-2"> 
            <div class="dropdown" style="  height: 59px;">
                    <button type="button" class="btn" data-toggle="dropdown">
                  <p style=" color:white"><i class="fa fa-fw fa-user"></i> {{user.uname}}</p>
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
        {{else}}
             <div class="col-sm-2 loginicon" ><a href="/login"><i class="fa fa-fw fa-user"></i> Login</a></div>
        {{/if}}</div>
        {{!-- {{#if login}}
              <button class="btn"><i class="fa fa-fw fa-user"></i> {{user.uname}}</div></button>
        </div>
        {{else}}
            <div class="col-sm-2 loginicon" ><a href="/login"><i class="fa fa-fw fa-user"></i> Login</a></div>
        {{/if}} --}}
        {{!-- <button class="btn"><i class="fa fa-fw fa-user"></i> {{user.uname}}</div></button>
        <div class="col-sm-2 loginicon" ><a href="login"><i class="fa fa-fw fa-user"></i> Login</a>
        </div> --}}
        
      </nav>
</section>
<br>
<br>
<div class="container" id="home">
    <div class="row text-center">
 <div class="col-sm"><a  href="/wireman-exam"class="btn btn-primary btn-large wireman-btn" > वायरमन परीक्षा फॉर्म</a></div>
        <div class="col-sm"><a  href="/wireman-suit-exam"class="btn btn-primary active btn-large wireman-btn ">वायरमन परीक्षा सूट फॉर्म</a></div>
        <div class="col-sm"><a  href="/supervisor-exam"class="btn btn-primary btn-large wireman-btn"> सुपरवाईझर परीक्षा  फॉर्म</a></div>
        <div class="col-sm"><a  href="/supervisor-suit-exam"class="btn btn-primary btn-large wireman-btn"> सुपरवाईझर परीक्षा सूट फॉर्म</a></div>
        {{!-- <div class="col-sm"><a  href="/"class="btn btn-primary btn-large wireman-btn"> वायरमॅन परीक्षा</a></div> --}}
        
        <div class="col-sm"><a  href="/wireman-supervisor-reexam"class="btn btn-primary btn-large wireman-btn"> वायरमॅन/सुपरवाईझर पुनः परीक्षा फॉर्म</a></div>
        <div class="col-sm"><a  href="/new-contractor-licence"class="btn btn-primary btn-large wireman-btn">नवीन विद्युत ठेकेदार लायसन्स फॉर्म</a></div>
        <div class="col-sm"><a  href="/contractor-licence-renewal"class="btn btn-primary btn-large wireman-btn">विद्युत ठेकेदार लायसन्स नूतनीकरण फॉर्म</a></div> </div>
</div>

<br>
<br>

<div class="container" style="width: 100%;">
    <div class="alert alert-info">
                    <strong>इंडेक्स  Instructions!</strong>	
	 
	आपणास प्रत्येक फॉर्म भरताना जो इंडेक्स फॉर्म आहे तो केवळ 
	आपणास काय डॉक्युमेंट आवश्यक आहेत त्यासाठी आहे ,तरी आपण 
	इंडेक्स फॉर्म ऑफिस कडून घेऊन तो भरून द्यावा 

                </div>
{{!--                 
            <div class="col-sm-2 loginicon" >
                <button class="btn"><i class="fa fa-fw fa-user"></i> {{user.uname}}</div></button>
                
        {{#if login}}
             <div class="col-sm-2 loginicon" ><i class="fa fa-fw fa-user"></i> {{user.uname}}
        </div>
        {{else}}
            <div class="col-sm-2 loginicon" ><a href="/login"><i class="fa fa-fw fa-user"></i> Login</a></div>
        {{/if}} --}}
        <form class="form-horizontal" method="POST" role="form" id="index" autocomplete="off">
            <p class="text-center form-horizontal">विद्दुत तारतंत्री  सूट अर्ज<br> माहितीसाठी व मान्यतेसाठी सादर </p>
            <br>
            <p style="text-indent: 5em; ">श्री./श्रीमती {{user.uname}} यांना विद्दुत पर्यवेक्षक परीक्षा सूट करिता परीक्षा सूट करीत विहित नमुन्यात अर्ज सादर केलेला आहे .								
</p>
            <div class="container">
            <br>          
            <table class="table table-bordered">
                <thead class="text-center">
                    <tr>
                        <th>क्र.</th>
                        <th>आवश्यक असणारी माहिती</th>
                        <th>शेरा</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr>
                        <td>१ </td>
                        <td>नमुना "बी १ " परिपूर्ण (टंकलिखित) भरलेला तसेच छायाचित्र साक्षांकित करणे . </td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                    <tr>
                        <td>२</td>	
                        <td>अर्जा सोबत पासपोर्ट आकाराचे तीन अलीकडील काळातील फोटो जोडणे</td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                    <tr>
                        <td>३</td>
                        <td>आवश्यक शुल्क भरलेले आहे. </td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                     <tr>
                        <td>४</td>
                        <td>औद्दोगिक प्रशिक्षण संस्थे मधील वीजतंत्री उत्तीर्ण झाल्याबाबतची साक्षांकित गुणपत्रिका जोडलेली आहे . राष्ट्रीय व्यवसाय साक्षांकित उत्तीर्ण गुणपत्रिका जोडलेली आहे.</td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                     <tr>
                        <td>५</td>
                        <td>राहण्याचा पत्ता व जन्मतारखेचा साक्षांकित  दाखला जोडला आहे . 
					</td>
                        <td>जोडले आहे/नाही</td>
                    </tr><tr>
                        <td>६</td>
                        <td>शासकीय निमशासकीय उमेदवाराचा अर्ज आस्थापने मार्फत सादर केलेला आहे.</td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                     <tr>
                        <td>७</td>
                        <td>उमेदवारांनी आपली सर्व कागदपत्रे स्वयंसाक्षांकीत करणे आवश्यक</td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                    <tr>
                        <td>८</td>
                        <td>स्वतःचा नांव, पत्ता व मोबाईल नं. असलेले पोस्टल स्टॅम्प (१०रु तिकिटे)  लावलेले ३ लिफाफे.</td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                     <tr>
                        <td>९</td>
                        <td>महाराष्ट्र अधिवास प्रमाणपत्र (डोमिसाईल प्रमाणपत्र))</td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                     <tr>
                        <td>१०</td>
                        <td> अर्जासोबत 'जुना १२ म' सादर करणे</td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                     
                    </tbody>
                </table>
                <p class="text-center">एम सी व्ही सी उमेदवाराबाबत</p>
                <table class="table table-bordered">
                    
                        <tbody>
                        <tr>
                            <td>१ </td>
                            <td>एम.सी. व्ही.सी. परीक्षा उत्तीर्ण झालयाबाबतचे साक्षांकित दोन्ही वर्षाची गुणपत्रिका व प्रमाणपत्र जोडले आहे.</td>
                            <td>जोडले आहे/नाही</td>
                        </tr>
                        <tr>
                            <td>२</td>	
                            <td>कारखाना/कंपनी/विद्दुत/ठेकेदाराची नोंदवहीच्या साक्षांकित छायाप्रत जोडली आहे. </td>
                            <td>जोडले आहे/नाही</td>
                        </tr>
                        <tr>
                        <td>३</td>
                        <td>शासकीय/निमशाशकीय उमेदवाराचा अर्ज आस्थापनेमार्फत सादर केलेले आहे .  </td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                     <tr>
                        <td>४</td>
                        <td>नमुना "ई" नुसार एक वर्ष प्रात्यक्षिक अनुभव आहे व अर्जदार ज्या जिल्ह्यात कार्यरत आहे त्या जिल्ह्यातील विद्दुत निरीक्षक कार्यालयाकडून सेवा पडताळणी झालेली आहे.</td>
                        <td>जोडले आहे/नाही</td>
                    </tr>
                        </tbody>
                 </table>
                 <p class="text-center">आय.टी.आय ३ वर्षे अप्रेंटिस उमेदवाराबाबात</p>
            <table class="table table-bordered">
                    
                        <tbody>
                        <tr>
                            <td>१ </td>
                            <td> आय टी आय उत्तीर्ण साक्षांकित प्रमाणपत्र / गुणपत्रिका जोडली आहे.</td>
                            <td>जोडले आहे/नाही</td>
                        </tr>
                        <tr>
                            <td>२</td>	
                            <td>राष्ट्रीय व्यवसाय प्रक्षिक्षण पूर्ण केलेल्या शासकीय /निमशासकीय  आस्थापनेचे पत्र जोडले आहे . 
						    </td>
                            <td>जोडले आहे/नाही</td>
                        </tr>
                        </tbody>
                 </table>
                
            </div>
          <div class="form-row align-items-center">
                <div class="col-sm my-10 pull-left">
                    <p>सहाय्यक विद्दुत निरीक्षक <br>निरीक्षण विभाग,<input type="text" name="city1" id="city1" placeholder="________________________________" style="border: none;"required/> </p>
                    
                </div>
                <div class="col"></div>
                <div class="col-sm my-2 pull-right">
                    <p>विद्दुत निरीक्षक <br>निरीक्षण विभाग,<input type="text" name="city2" id="city2" placeholder="________________________________" style="border: none;"required/></p>
                     
                    
                </div>
                
            </div>
            <div class="form-row align-items-center">
                <div class="col"></div>
                <div class="col-sm my-10 pull-left">
                    <p>सहा. अधीक्षक अभियंता <br><input type="text" name="city4" value="" id="city4" placeholder="__________" style="border: none; width:50px"required/> प्रादेशिक विद्युत मंडळ ,<input type="text" name="city3" id="city3" placeholder="________________________________" style="border: none;"required/> </p>
                    
                </div>
                <div class="col"></div>
            </div>
            <br>
            <br>
             <div class="col-md-12 text-center">
                <a href="/wireman-suit-letter"> <button  type="submit"class="btn btn-lg btn-primary printPage next-btn" >Next</button></a>
               {{!-- <button  type="submit"class="btn btn-lg btn-primary printPage next-btn" >Next</button> --}}
            </div>
    </form>
</div>

{{!-- <div style="background-color: rgb(165, 165, 189); height:300px">

</div>
<div class="container">
    <h2 class="text-center .text-uppercase ">About Us</h2>
</div> --}}
{{!-- <div class="container">
    <div class="row content">
        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
        </p>
        <P>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. 
        </P>
    </div>
</div> --}}
{{!-- <section >
    <div class="container text-center">    
        <div class="row content">
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-8 "> 
                <h2>परिचय( वायरमॅन परीक्षा )</h2>
                <p>मी एक परिच्छेद आहे. आपला स्वतःचा मजकूर जोडण्यासाठी आणि मला संपादित करण्यासाठी येथे क्लिक करा. हे सोपे आहे. फक्त "मजकूर संपादित करा" क्लिक करा किंवा आपली स्वतःची सामग्री जोडण्यासाठी आणि फॉन्टमध्ये बदल करण्यासाठी मला डबल क्लिक करा. आपल्यासाठी कथा सांगण्यासाठी आणि आपल्या वापरकर्त्यांना आपल्याबद्दल थोडेसे सांगण्यासाठी मी एक उत्तम जागा आहे.</p1>
            </div>
            
        </div>
  </div>

</section> --}}
{{!-- 
<section>
    <div class="container text-center">   
        <div class="col-sm-2">
                
            </div> 
        <div class="row content col-sm-8">
            <a href="/formA1"><input type="button" class="btn btn-next text-center" value="Next"></a>
        </div>
        <div class="col-sm-2">
                
            </div>
      </div>
</section> --}}
  <br>
  <br>
<footer class="container-fluid text-center">
    <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-sm-8 copy"><p>&#169; 2021 by Easyformfill. Proudly created with <a style="color: rgb(240, 210, 40);" href="https://www.logyana.com/">Logyana Solutions Pvt. Ltd </a></p>
                
            </div>
            <div class="col-sm-4 facebookicon">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <!-- <a><i class="fa fa-facebook"></i></a>
                <a><i class="fa fa-twitter"></i></a> -->
            </div>
        </div>
    </div>
  
</footer>
<script type="text/javascript">
        let city1 = document.getElementById("city1");
        enableTransliteration(city1, "mr");
         let city2 = document.getElementById("city2");
        enableTransliteration(city2, "mr");
        let city3 = document.getElementById("city3");
        enableTransliteration(city3, "mr");
        let city4 = document.getElementById("city4");
        enableTransliteration(city4, "mr");
</script>

</body>
</html>
