<!DOCTYPE html>
<html lang="en">
<head>
  <title>Easy Form Fill</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --}}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="/transliteration-input.bundle.js"></script>
  <style>
      @media print {
        /*NOT DISPLAY*/
       footer, #navbar, #home,.printPage
        {
        display: none;
        }
        /*DISPLAY*/
        #printable {
            display: block;
        }
    }
      /*@media print {
        html,body {
        display: none; /* This code will hide whole pages */
       /* content:"for example";
        }
        }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      background-color: #1B4F72 ;
      height: 70px;
      color: white;
    }
    footer{
        /* position: fixed; */
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #1B4F72;
        color: white;
        text-align: center;
        height: 100px;
    }
   
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    
    
    /* Set gray background color and 100% height */
    /* .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    } */
    
    /* Set black background color, white text and some padding */
    
    .formfill-h2{
        text-decoration: underline;
        color: white;
    }
    
    .copy,.facebookicon{
        font-size: 15px;
        margin-top: 30px;
    }
    .facebookicon{
        font-size:15px;color:white;
        text-decoration: none;
    }
    .btn-next{
        background-color: #1B4F72 ;
        color: white;
        border-radius: 15px;
        text-decoration: none;
            margin-left: 100px;
    }
     .wireman-btn{
        border: 1px solid #888888;
        background: none;
        cursor: pointer;
        color:#1B4F72;
        box-shadow: 0px 5px 8px #888888;
        height: 85px;
    }
    .banner-image{
        background-image: url("img/enquiry6.jpg");
    }
    .form-span{
        color:  rgb(240, 210, 40);
        text-decoration-color: rgb(240, 210, 40);
        font-weight: bold;
    }
    .home{
        color: rgb(240, 210, 40);
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .loginicon{
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .next-btn{
        width:70% ;
        border-radius: 30px;
        background-color: #1B4F72;;
    }
    a:hover{
        color: rgb(255, 255, 255);
        text-decoration: none;
} @media print {
        html,body {
        display: none; /* This code will hide whole pages */
        content:"for example";
        }
        }
a{
        color: rgb(255, 255, 255);
        text-decoration: none;
}
    /* On small screens, set height to 'auto' for sidenav and grid */
      /* On small screens, set height to 'auto' for sidenav and grid */
     @media screen and (max-width: 575px) {
       .wireman-btn{
          margin-bottom: 10px;
           height: 35px;
            width: 285px;
      }  
     }
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .wireman-btn{
          margin-bottom: 10px;
      }
      .row.content {height:auto;} 
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width:768px) and (max-width:1198px){
    .wireman-btn{
          margin-bottom: 10px;
           height: 125px;
      }
}

@media screen and (min-width: 1000px) and  (max-width: 1199)  {
    .wireman-btn{
          margin-bottom: 10px;
           height: 125px;
      }
}@media print {
        html,body {
        display: none; /* This code will hide whole pages */
        content:"for example";
        }
        }
  </style>
</head>
<body oncontextmenu="return false;">
<section  class="navbar-section margin-bottom:20px" id="navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="col-sm-2" ><a class="home" href="/home">Home</a></div>
        <div class="col-sm-8" >
                <h3 class="text-center ">EASY<span class="font-weight-bold form-span">FORMFILL</span> </h3>
            
        </div>
        {{#if user}}
        <div class="col-sm-2"> 
            <div class="dropdown" style="  height: 59px;">
                    <button type="button" class="btn" data-toggle="dropdown">
                  <p style=" color:white"><i class="fa fa-fw fa-user"></i> {{user.uname}}</p>
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
        {{else}}
             <div class="col-sm-2 loginicon" ><a href="/login"><i class="fa fa-fw fa-user"></i> Login</a></div>
        {{/if}}</div>
      </nav>
</section>
<br>
<br>
<div class="container" id="home">
    <div class="row text-center">
     <div class="col-sm"><a  href="/wireman-exam"class="btn btn-primary btn-large wireman-btn" > वायरमन परीक्षा फॉर्म</a></div>
        <div class="col-sm"><a  href="/wireman-suit-exam"class="btn btn-primary btn-large wireman-btn ">वायरमन परीक्षा सूट फॉर्म</a></div>
        <div class="col-sm"><a  href="/supervisor-exam"class="btn btn-primary btn-large wireman-btn"> सुपरवाईझर परीक्षा  फॉर्म</a></div>
        <div class="col-sm"><a  href="/supervisor-suit-exam"class="btn btn-primary btn-large wireman-btn"> सुपरवाईझर परीक्षा सूट फॉर्म</a></div>
        {{!-- <div class="col-sm"><a  href="/"class="btn btn-primary btn-large wireman-btn"> वायरमॅन परीक्षा</a></div> --}}
        
        <div class="col-sm"><a  href="/wireman-supervisor-reexam"class="btn btn-primary btn-large wireman-btn"> वायरमॅन/सुपरवाईझर पुनः परीक्षा फॉर्म</a></div>
        <div class="col-sm"><a  href="/new-contractor-licence"class="btn btn-primary active btn-large wireman-btn">नवीन विद्युत ठेकेदार लायसन्स फॉर्म</a></div>
        <div class="col-sm"><a  href="/contractor-licence-renewal"class="btn btn-primary btn-large wireman-btn">विद्युत ठेकेदार लायसन्स नूतनीकरण फॉर्म</a></div>  </div>
</div>

<br>
<br>
 
<div class="container" style="width: 100%;">
        <form class="form-horizontal" method="POST" role="form" id="prapatra-b" autocomplete="off">
            <p class="text-center">शासन निर्णय क्रमांक प्रसुधा १६१४/३४५/प्र . क्र . ७१/१८-अ </p>
            <hr style="height:1px;border-width:0;color:rgb(22, 21, 21);background-color:rgb(7, 7, 7)">
             <p class="text-center">Prapatra B For Owner</p>
            <p class="text-center">प्रपत्र - ब <br> स्वयं - सांक्षांकनासाठी स्वयं घोषणापत्र</p>
            <br>
           <div class="container">
                <div class="row content">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        <div class="col-sm float-right"  style="height:150px; width:150px; border:1px solid black" ></div>
                    </div>
                </div>
                <br>
                <p> मी श्री .  <input type="text" class="textarea1" name="ownerName" placeholder="________________________________" style="border: none;"required/>,    श्री . <input type="text" class="textarea1" name="ownerFname" placeholder="________________________________" style="border: none;"required/> यांचा /यांची  मुलगा /मुलगी ,</p>
	                 <p>वय  {{user.ownerAge}} वर्ष ,  आधार क्रमांक  <input type="text" class="textarea1" name="ownerAdharNo" placeholder="________________________________" style="border: none;"required/></p>, व्यवसाय<input type="text" name="ownerOccupation"class="textarea1" id="" placeholder="________________________________" style="border: none;"required/>	</p>	
	                <p>राहणार :	{{user.ownerAddress}}	</p>
                <p>	याद्वारे घोषित करतो/करते कि, मी स्वयं साक्षांकित केलेल्या प्रति या मूळ कागदपत्रांच्याच सत्य प्रति आहेत . त्या खोट्या असल्याचे आढळून आल्यास,<br> भारतीय दंड संहिता आणि / किंवा संबंधित कायद्यानुसार माझ्यावर खटला भरला जाईल व त्यानुसार मी शिक्षेस पात्र राहीन याची मला पूर्ण जाणीव आहे.</p>
                <div class="row content">
                    <div class="col-sm"><p>ठिकाण : {{user.place}}<br>
                    दिनांक:  {{user.date}}
                    </div>
                    <div class="col-sm">
                        
                        <p style="">अर्जदाराची सही :</p><p>	अर्जदाराची नाव : <input type="text" class="textarea1" name="uname" value="{{user.ownerName}}"placeholder="________________________________" style="border: none;"required/></p><p style="">मोबाईल क्र.:- <input type="text" class="textarea1" name="mobile" value="{{user.ownerMobile}}" placeholder="________________________________" style="border: none;"required/></p></div>
                </div>	
            </div>
            <br>
            <br>
            <div class="col-md-12 text-center">
                 <a href="/wireman-photo"> <button type="submit" class="btn btn-lg btn-primary printPage next-btn" >Next</button></a>
                
            </div>
    </form>
</div>
<br>
<br>

<footer class="container-fluid text-center">
    <div class="container-fluid text-center">    
        <div class="row content">
           <div class="col-sm-8 copy"><p>&#169; 2021 by Easyformfill. Proudly created with <a style="color: rgb(240, 210, 40);" href="https://www.logyana.com/">Logyana Solutions Pvt. Ltd </a></p>
                
            </div>
            <div class="col-sm-4 facebookicon">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
            </div>
        </div>
    </div>
  
</footer><script type="text/javascript">
        let textarea1 = document.querySelectorAll(".textarea1");
        
        textarea1.forEach(function(userItem){
            enableTransliteration(userItem, "mr");

        })
</script>
</body>
</html>
